#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,380px);
    grid-gap: 10px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    
}
#container>div{
    /* width: 100%; */
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
}
img{
    width: 100%;
    margin: auto;
    height: 250px;
    background-repeat: no-repeat;
}
.nav {
display: flex;
background-color: rgb(28, 41, 56);
color: white;
height: 40px;
padding: 20px 0px 0px 20px;
margin-top: 30px;
border-radius: 10px;
}

.left {
width: 70%;

}

.right {
display: flex;
justify-content: space-around;
width: 30%;

}

a {
text-decoration: none;
color: white;
}